<div class="recover-password">
    <div class="recover-password-header">
        <i (click)="goToLogin()" class="material-icons recover-password-header-close">close</i>
        <i class="icon-blockchain_icon recover-password-header-icon">
        </i>
        <div class="recover-password-header-title">
            {{'LABELS.RECOVER_PASSWORD' | translate}}
        </div>
    </div>
    <div class="recover-password-content">
        <ion-item class="recover-password-content-item">
            <ion-input [(ngModel)]="email" type="email"
                placeholder="{{'LABELS.EMAIL' | translate}}">
            </ion-input>
        </ion-item>
        <div *ngIf="error != ''" class="recover-password-error">
            {{error}}
        </div>
        <blockchain-button class="recover-password-content-button" [label]="'LABELS.SEND'"
            (onClick)="recoverPassword()">
        </blockchain-button>
    </div>
</div>