<div class="profile">
  <div class="profile-header">
    <div class="profile-header-logo">
      <i class="icon-bt-back-white" (click)="goBack()"></i>
    </div>
    <div class="profile-header-img">
      <img class="profile-header-img-icon" src="assets/imgs/img_avatar@3x.png">

    </div>
    <div class="profile-header-name">
      {{user && user.first_name}}
    </div>
    <div class="profile-header-email">
      {{user && user.email}}
    </div>
  </div>

  <ion-content class="profile-content">
    <ion-item> Dashboard</ion-item>
    <div class="profile-content-button">
      <blockchain-button class="profile-content-button" [primary]="true" [label]="'LABELS.LOGOUT'" (click)="goLogout()">
      </blockchain-button>
    </div>
  </ion-content>




</div>