.register {
  padding: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  &-error {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: red;
    padding: 2%;
  }

  &-header {
    height: 30%;
    &-close {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: xx-large;
    }
    &-title {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }

    &-icon {
      margin: 10% auto;
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      color: var(--blockchain-primary-color);
      font-size: 80px;
    }
  }

  &-content {
    display: flex;
    height: 75%;
    justify-content: center;
    flex-direction: column;
    &-item {
      margin-bottom: 5%;
    }
    &-button {
      padding: 5%;
      height: 82px;
    }
    &-checkbox {
      display: flex;
      flex-direction: row;
      padding: 2% 5%;
      &-display {
        --border-color: var(--blockchain-primary-color);
        --border-color-checked: transparent;
        --background-checked: var(--blockchain-primary-color);
      }
      &-label {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin: auto 0;
        margin-left: 2%;
        &-link {
          margin: auto 0;
          margin-left: 2%;
          font-family: Roboto;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: var(--blockchain-primary-color);
        }
      }
    }
  }

  &-footer {
    bottom: 0;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      &-title {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
      }
      &-subtitle {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-left: 1%;
        color: var(--blockchain-primary-color);
      }
    }
  }
}
