<div class="track-detail">
  <div class="track-detail-header" [ngClass]="trackClass">
    <div class="track-detail-header-logo">
      <i class="icon-bt-back-white" (click)="goBack()"></i>
    </div>
    <div class="track-detail-header-data">
      <div class="track-detail-header-data-points">
        Envàs lleuger
      </div>
    </div>
  </div>

  <ion-content class="track-detail-content">
    <div class="track-detail-content-body">
      <div class="track-detail-content-time">
        <img [src]="timeline" />
      </div>
      <div class="track-detail-content-list">
        <track-detail-card
          [id]="id_first"
          [icon]="'assets/imgs/ic_escanejat@3x.png'"
          [stateId]="id_first_state"
          [state]="'TRACK.SCANNED_PROCESS'"
          [time]="time_first_state"
          [valid]="valid_first_state"
        >
        </track-detail-card>
        <track-detail-card
          [id]="id_second"
          [icon]="'assets/imgs/ic_contenidor@3x.png'"
          [stateId]="id_second_state"
          [state]="'TRACK.IN_CONTAINER_PROCESS'"
          [time]="time_second_state"
          [valid]="valid_second_state"
        >
        </track-detail-card>
        <track-detail-card
          [id]="id_third"
          [icon]="'assets/imgs/ic_camio@3x.png'"
          [stateId]="id_third_state"
          [state]="'TRACK.COLLECTED_PROCESS'"
          [time]="time_third_state"
          [valid]="valid_third_state"
        >
        </track-detail-card>
        <track-detail-card
          [id]="id_last"
          [icon]="'assets/imgs/ic_reciclat@3x.png'"
          [stateId]="id_last_state"
          [state]="'TRACK.RECICLED_PROCESS'"
          [time]="time_last_state"
          [valid]="valid_last_state"
        >
        </track-detail-card>
      </div>
    </div>
  </ion-content>
</div>
