<ion-card class="donations-card">
    <div class="donations-card-content">
        <div class="donations-card-content-image">
            <img [src]="image" class="donations-card-content-image-img">
        </div>

        <div class="donations-card-info">
            <div class="donations-card-info-title">
                Lorem ipsum dolor sit amet
            </div>
            <div class="donations-card-info-subtitle">
                Nom organització
            </div>
            <div class="donations-card-info-details">
                <div class="progress">
                    <div class="bar" style="width: 35%">
                        <p class="percent"></p>
                    </div>
                </div>
                <ion-badge class="donations-card-info-details-badge">{{'LABELS.DONATE' | translate}}</ion-badge>
            </div>
            <div class="donations-card-info-details-count">
                21.450 de 30.000 Ciclopunts
            </div>
        </div>
    </div>
</ion-card>