<div class="rewards">
  <div class="rewards-header" [ngClass]="trackClass">
    <div class="rewards-header-logo">
      <i class="icon-bt-back-white" (click)="goBack()"></i>
    </div>
    <div class="rewards-header-data">
      <div class="rewards-header-data-tab" [ngClass]="donations && 'active'" (click)="donations=true">
        {{'LABELS.DONACIONS' | translate}}
      </div>
      <div class="rewards-header-data-tab" [ngClass]="!donations && 'active'" (click)="donations=false">
        {{'LABELS.BONIFICACIONS' | translate}}
      </div>
    </div>
  </div>

  <ion-content *ngIf="donations" class="rewards-content">
    <donations-card [image]="'assets/imgs/img-donacion_1ampliada@3x.png'"></donations-card>
    <donations-card [image]="'assets/imgs/img-donacion_3ampliada@3x.png'"></donations-card>
    <donations-card [image]="'assets/imgs/img-donacion_4ampliada@3x.png'"></donations-card>
  </ion-content>

  <ion-content *ngIf="!donations" class="bonificacions-content">
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
      <bonificacions-card></bonificacions-card>
  </ion-content>


</div>