/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.eot");
  src: url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.woff2") format("woff2"),
       url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.woff") format("woff"),
       url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.ttf") format("truetype"),
       url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_d3b4afe03f043e29ee0c334be5e61ce8.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bt-back-white:before,
.icon-ic-scan-code:before,
.icon-ic_envasos-plastic:before,
.icon-ic_organic:before,
.icon-ic_paper:before,
.icon-ic_resta:before,
.icon-ic_vidre:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bt-back-white:before { content: "\f100"; }
.icon-ic-scan-code:before { content: "\f101"; }
.icon-ic_envasos-plastic:before { content: "\f102"; }
.icon-ic_organic:before { content: "\f103"; }
.icon-ic_paper:before { content: "\f104"; }
.icon-ic_resta:before { content: "\f105"; }
.icon-ic_vidre:before { content: "\f106"; }
