<ion-card class="bonificacions-card">
    <div class="bonificacions-card-content">
        <div class="bonificacions-card-info">
            <div class="bonificacions-card-info-cost">-10€</div>
            <div class="bonificacions-card-info-detail">A la factura del IBI</div>
        </div>
        <div class="bonificacions-card-util">
            <div class="bonificacions-card-util-cost">1000 ciclepunts</div>
            <ion-badge class="bonificacions-card-util-badge">{{'LABELS.EXCHANGE' | translate}}</ion-badge>
        </div>
    </div>
</ion-card>